body {
  font-family: Arial;
  background-color: #f2f2f2;
  margin: 20px;
}

h1 {
  color: darkblue;
}

h2 {
  color: darkgreen;
}

p {
  background-color: white;
  padding: 10px;
}

a {
  color: darkred;
}